[submodule "home/.repos/anyenv-update"]
	path = home/.repos/anyenv-update
	url = https://github.com/znz/anyenv-update.git
[submodule "home/.repos/anyenv-git"]
	path = home/.repos/anyenv-git
	url = https://github.com/znz/anyenv-git.git
